<% if page.foreign_link.present? %>
  <li class="menu-item"><%= link_to page.title, page.foreign_link, target: '_blank', rel: 'nofollow', class: 'nav-link'%></li>
<% else %>
  <% page_uri = Rails.application.routes.named_routes[:spree].path.spec.to_s == '/' ? page.slug : Rails.application.routes.named_routes[:spree].path.spec.to_s + page.slug %>
  <li class="<%= 'current' if (request.fullpath.gsub('//','/') == page_uri) %>"><%= link_to page.title, page_uri, class: 'nav-link' %></li>
<% end %>
