<% if Spree::Page.by_store(current_store).visible.sidebar_links.any? %>
<div id="pages" data-hook arial-> 
  <div class="widget widget-categories mb-4">
    <h3 class="widgettitle"><%= plural_resource_name(Spree::Page) %></h3>
    <ul class="list-categories">
   <%= render partial: 'spree/static_content/static_content_list_side', collection: Spree::Page.visible.sidebar_links, as: :page %>
    </ul>
  </div>
</div>
<% end %>